/* very basic styles */
button {
    background: inherit;
	border: none;
}

textarea, input,
a, button {
	outline: none;
	box-shadow: none;
	&:hover,
	&:focus,
	&:active {
		outline: 0 !important;
		box-shadow: none !important;
		-webkit-appearance: none !important;
	}
}

[name='search']::placeholder {
	font-style: italic;
}

/*
* Basic classes
*/
$size-up: (sm, md, lg, xl);
$size-down: (xs, sm, md, lg);

@each $item in $size-up {
	.hidden-#{$item}-up {
		@include media-breakpoint-up($item) {
			display: none !important;
			visibility: hidden !important;
		}
	}
}
@each $item in $size-down {
	.hidden-#{$item}-down {
		@include media-breakpoint-down($item) {
			display: none !important;
			visibility: hidden !important;
		}
	}
}