{#
{% import "../partials/btn.html" as button %}
#}
   
<div class="col-sm-6 col-lg-4">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top lazyload" src="assets/img/download.svg" data-src="{{ item.image }}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{ item.title }}</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
</div>