// FontAwesome
$fa-font-path:                "../vendor/fontawesome/webfonts";
$fa-font-size-base:           16px;


// Material Desgin Icons
$mdi-font-path:					"../fonts";
$mdi-font-size-base:			22px;
$mdi-size:						$mdi-font-size-base;

// Fonts
$font-family-sans-serif:		-apple-system, BlinkMacSystemFont, "Roboto", sans-serif;

$base-font-size:				16px;


// Navbar & Navbar Brand
$navbar-padding-y:				0;
$navbar-brand-padding-y:		0;
$navbar-height-desktop:			56px;
$navbar-toggler-border-radius:  0;

// Dropdowns
$dropdown-min-width:			5rem;
$dropdown-menu-padding:			0;
$dropdown-padding-x-up:			.75rem;
$dropdown-border-color:			rgba($black, .25);
$dropdown-border-radius:        0;
$dropdown-border-width:         0;
$dropdown-box-shadow:           0 2px 1px rgba($black, .175);

// Buttons + Forms
$input-btn-padding-y:			.25rem;
$input-btn-padding-x:			.75rem;
