<section class="section categories">
	<div class="section__layer section__front">
		<div class="container">
			<div class="h2">Top Categires</div>
			<div class="row">
				<div class="col-md-6">
					<ul class="list-group">
						<li class="list-group-item"><a href="" class="d-flex justify-content-between" title="link title">
							<span>Product category 1</span><i class="fas fa-angle-right" aria-hidden="true"></i>
						</a></li>
						<li class="list-group-item"><a href="" class="d-flex justify-content-between" title="link title">
							<span>Product category 2</span><i class="fas fa-angle-right" aria-hidden="true"></i>
						</a></li>
					</ul>
				</div>
				<div class="col-md-6">
					<ul class="list-group">
						<li class="list-group-item"><a href="" class="d-flex justify-content-between" title="link title">
							<span>Product category 1</span><i class="fas fa-angle-right" aria-hidden="true"></i>
						</a></li>
						<li class="list-group-item"><a href="" class="d-flex justify-content-between" title="link title">
							<span>Product category 2</span><i class="fas fa-angle-right" aria-hidden="true"></i>
						</a></li>
						<li class="list-group-item"><a href="" class="d-flex justify-content-between" title="link title">
							<span>Product category 3</span><i class="fas fa-angle-right" aria-hidden="true"></i>
						</a></li>
					</ul>
				</div>
			</div><!-- .row -->
		</div><!-- .container -->
	</div>
</section><!-- .categories -->