<section class="section seo">
	<div class="container">
		<article class="seo__container clearfix" id="seoFooterText">
			<h2>Seo</h2>
			<img src="assets/img/download.svg" alt="seo picture" class="img-fluid float-sm-left mr-sm-2">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, pariatur, quaerat! Mollitia deserunt iure saepe ab nesciunt reiciendis commodi possimus minus eum obcaecati aut, amet, reprehenderit exercitationem iusto sint sit.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, pariatur, quaerat! Mollitia deserunt iure saepe ab nesciunt reiciendis commodi possimus minus eum obcaecati aut, amet, reprehenderit exercitationem iusto sint sit.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, pariatur, quaerat! Mollitia deserunt iure saepe ab nesciunt reiciendis commodi possimus minus eum obcaecati aut, amet, reprehenderit exercitationem iusto sint sit.</p>
		</article>

		{% import "../partials/btn.html" as button %}

        {{ button.icon(class='btn-link', 'Read more', 'fa-chevron-down', 'data-plugin=readmore data-target=#seoFooterText') }}
        {# 
        {{ button.icon(class='btn-primary', 'data-icon="sample"', 'Click', 'fa-phone') }}
         #}
	</div>
</section><!-- .seo -->