<section class="section usp">
	<div class="section__layer section__back"></div>
	
	<div class="section__layer section__front">
		<div class="container">
			<div class="h3">Unique sales proposal</div>
			<div class="usp__list d-flex justify-content-around">
				<div class="usp__item">
					<div class="usp__item_icon">
						<i class="fas fa-3x fa-calendar-check" aria-hidden="true"></i>
					</div>
					<div class="usp__item_text">
						<p class="mt-2">Sale proposal</p>
					</div>
				</div><!-- .usp__item -->
				<div class="usp__item">
					<div class="usp__item_icon">
						<i class="fas fa-3x fa-cart-arrow-down" aria-hidden="true"></i>
					</div>
					<div class="usp__item_text">
						<p class="mt-2">Sale proposal</p>
					</div>
				</div><!-- .usp__item -->
				<div class="usp__item">
					<div class="usp__item_icon">
						<i class="fas fa-3x fa-handshake" aria-hidden="true"></i>
					</div>
					<div class="usp__item_text">
						<p class="mt-2">Sale proposal</p>
					</div>
				</div><!-- .usp__item -->
			</div>
		</div>
	</div>
</section><!-- .usp unique sales proposal -->