<nav class="navbar navbar-dark navbar-expand-lg bg-dark">
	<div class="container d-flex">
		<div class="collapse navbar-collapse" id="mainMenu">
			<ul class="navbar-nav">
			@@loop("menu-items.html", [
				{
					"name": "About",
					"url": "#",
					"active": " active"
				},
				{
					"name": "Service",
					"url": "#",
					"active": ""
				},
				{
					"name": "Product",
					"url": "#",
					"active": ""
				},
				{
					"name": "News",
					"url": "#",
					"active": ""
				},
				{
					"name": "Contacts",
					"url": "#",
					"active": ""
				}
			])
			</ul><!-- .nav -->
		</div><!-- .navbar-collapse -->
	</div>
</nav><!-- .navbar -->