<nav class="navbar navbar-dark bg-dark">
	<div class="container d-flex">
		<!-- navbar brand / logo -->
		<a class="navbar-brand" href="#">Navbar</a>
		<button class="navbar-toggler" data-toggle="collapse" data-target="#mainMenu">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="mainMenu">
			<ul class="navbar-nav">
			@@loop("menu-items.html", [
				{
					"name": "About",
					"url": "#",
					"active": " active"
				},
				{
					"name": "Service",
					"url": "#",
					"active": ""
				},
				{
					"name": "Product",
					"url": "#",
					"active": ""
				},
				{
					"name": "News",
					"url": "#",
					"active": ""
				},
				{
					"name": "Contacts",
					"url": "#",
					"active": ""
				}
			])
			</ul><!-- .nav -->
		</div><!-- .navbar-collapse -->
	</div>
</nav><!-- .navbar -->