{% set page_title = 'New Main Page' %}

{% extends 'templates/_layout.html' %}
{#. #}
{% block content %}

<div class="container">
    <h1>Welcome to the main page</h1>
</div>

{% include "templates/section/intro.html" %}

{% include "templates/section/products.html" %}

{% include "templates/section/categories.html" %}

{% include "templates/section/usp.html" %}

{% include "templates/section/seo.html" %}

{% endblock %}

{% block custom_script %}
<!-- ONLY for home page -->
<script>
  if ($('#introSlider')) {
    $(".carousel").swipe({
      swipe: function(event, direction, distance, duration, fingerCount, fingerData) {
        if (direction == 'left') $(this).carousel('next');
        if (direction == 'right') $(this).carousel('prev');
      },
      allowPageScroll: "vertical"
    });
  }
  if ($('footer #currentYear').length) {
    $('footer #currentYear').text(new Date().getFullYear());
  }
</script>
{% endblock %}